@font-face{
    font-family: "ALSHauss";
    font-weight: 300;
    font-style: normal;
    src: 
        url("../fonts/ALSHauss-Light.woff2") format("woff2"),
        url("../fonts/ALSHauss-Light.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "ALSHauss";
    font-weight: 400;
    font-style: normal;
    src: 
        url("../fonts/ALSHauss-Regular.woff2") format("woff2"),
        url("../fonts/ALSHauss-Regular.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "ALSHauss";
    font-weight: 500;
    font-style: normal;
    src: 
        url("../fonts/ALSHauss-Medium.woff2") format("woff2"),
        url("../fonts/ALSHauss-Medium.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "ALSHauss";
    font-weight: 700;
    font-style: normal;
    src: 
        url("../fonts/ALSHauss-Bold.woff2") format("woff2"),
        url("../fonts/ALSHauss-Bold.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "Navigo";
    font-weight: 300;
    font-style: normal;
    src: 
        url("../fonts/Navigo-Light.woff2") format("woff2"),
        url("../fonts/Navigo-Light.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "Navigo";
    font-weight: 400;
    font-style: normal;
    src: 
        url("../fonts/Navigo-Regular.woff2") format("woff2"),
        url("../fonts/Navigo-Regular.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "Navigo";
    font-weight: 500;
    font-style: normal;
    src: 
        url("../fonts/Navigo-Medium.woff2") format("woff2"),
        url("../fonts/Navigo-Medium.woff") format("woff");
    font-display: swap;
}

@font-face{
    font-family: "Navigo";
    font-weight: 700;
    font-style: normal;
    src: 
        url("../fonts/Navigo-Bold.woff2") format("woff2"),
        url("../fonts/Navigo-Bold.woff") format("woff");
    font-display: swap;
}